/* Main Layout */
header {

    width:100%;
    float:left;
    font-family: "Segoe UI", sans-serif;
    text-align: center;

}

nav {

    width: 20%;
    float:left;
    font-family: "Segoe UI", sans-serif;

}

main {

    width: 60%;
    min-height: 400px;
    float:left;
    font-size: large;
    text-align: center;
    font-family: "Segoe UI", sans-serif;

}

footer {

    width: 100%;
    float:left;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;

}

main img {

    width: 250px;
    display: block;
    margin: 0 auto;

}

main p {

    margin-top: 30px;
    text-indent: 25px;

}

#error {color:red}


/* Menus */

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;

}

li a {

    display: block;
    color: #000;
    padding: 8px 0px 8px 16px;
    text-decoration: none;

}

/* Menu Hover */

li a:hover {

    background-color: #555;
    color: #fff;

}

ul {

    border: 1px solid #555;

}

li {

    text-align: center;
    border-bottom: 1px solid #555;

}

li:last-child {

    border-bottom: none;

}

table {

    margin: auto;
    border-collapse: collapse;

}

th {

    background-color: #cccccc;

}
img.dice {

    display:inline;
    width: 50px;
    margin: 5px;

}

label {

    display: inline-block;
    width: 140px;
    text-align: right;
    padding-right: 8px;

}​

fieldset {

    background-color: #ccc;

}

legend {

    background-color: #ccc;
    padding: 5px 10px;
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid #000;

 }
